process {
	withLabel:cpu_retry {
		errorStrategy = 'retry'
        	cpus = { check_max( 2 * task.attempt, 'cpus' ) }
		maxRetries = {task.exitStatus in [140,143] ? 5 : 2}
	}

	withLabel:homoly_mod {
		errorStrategy = 'retry'
		time = { check_max( 5.m * task.attempt, 'time' ) }
	     	maxRetries = {task.exitStatus in [140,143] ? 12 : 1}
	}
	
	withLabel: structural_align {
		errorStrategy = 'retry'
		cpus = {task.exitStatus in [140,143] ? check_max( 2 * task.attempt, 'cpus') : task.cpus}
    		maxRetries = {task.exitStatus in [140,143] ? 5 : 10}
		}		

	withLabel: prosa_check {
		errorStrategy = 'retry'
		time = {task.exitStatus in [140,143] ? check_max( 5.m * task.attempt, 'time' ) : task.time}
    		maxRetries = {task.exitStatus in [140,143] ? 12 : 10}
	}

}
