process {
	withName: index_query {
		errorStrategy = 'retry'
        	cpus = { check_max( 2 * task.attempt, 'cpus' ) }
		maxRetries = {task.exitStatus in [140,143] ? 5 : 2}
	}

	withName: search_distant_homologuous {
		errorStrategy = 'retry'
		cpus = { check_max( 2 * task.attempt, 'cpus' ) }
        	maxRetries = {task.exitStatus in [140,143] ? 5 : 2}
	}
	
	withName: fastaExtract {
		errorStrategy = 'retry'
		cpus = { check_max( 2 * task.attempt, 'cpus' ) }
        	maxRetries = { task.exitStatus in [140,143] ? 5 : 2 }
	}
	
	withName: homology_modelling {
		errorStrategy = 'retry'
		time = { check_max( 5.m * task.attempt, 'time' ) }
	     	maxRetries = {task.exitStatus in [140,143] ? 12 : 1}
	}
	
	withName: prosa_check {
		errorStrategy = 'retry'
		time = {task.exitStatus in [140,143] ? check_max( 5.m * task.attempt, 'time' ) : task.time}
    		maxRetries = {task.exitStatus in [140,143] ? 12 : 10}
	}
	
	withName: structural_alignment {
		errorStrategy = 'retry'
		cpus = {task.exitStatus in [140,143] ? check_max( 2 * task.attempt, 'cpus') : task.cpus}
    		maxRetries = {task.exitStatus in [140,143] ? 5 : 10}
		}
		
	withName: lineartest {
		errorStrategy = 'retry'
		cpus = { check_max( 2 * task.attempt, 'cpus' ) }
        	maxRetries = {task.exitStatus in [140,143] ? 5 : 2}
	}

}
