process {
	withName: convert_names {
	}
	withName: index_query {
	}
	withName: search_distant_homologuous {
	}
	withName: fasta_extract {
	}
	withName: homology_modelling {
	}
	withName: prosa_check {
	}
        withName: extract_result {
	}
	withName: structural_alignment {
	}
	withName: build_matrix {
	}
	withName: lineartest {
	}

}

