process {
	withLabel: modelling {
		time = '1h'


	withName: convert_names {
	}
	withName: index_query {
	}
	withName: search_distant_homologuous {
	}
	withName: fasta_extract {
	}
	withName: homology_modelling {
	}
	withName: prosa_check {
	}
        withName: extract_result {
	}
	withName: structural_alignment {
	}
	withName: build_matrix {
	}
	withName: lineartest {
	}

}












/*
	withLabel: low_resources {
		time = '0,1.h'
                cpu = '1'
	} 	

	withName: search_distant_homologuous {
		time = '1h'
	}
	withName: extract_result {
		time = '1h'
	v}
	withLabel: retry_increasing_time {
       		errorStrategy = 'retry'
    		time   = {0,5.h + task.attempt}
        	maxRetries = { task.exitStatus == 140 ? 5 : 2 }
    		maxErrors     = ‘-1’
	}
	withLabel: retry_increasing_cpu {
       		errorStrategy = 'retry'
		cpus   = {2 + task.attempt}
        	maxRetries = { task.exitStatus == 140 ? 10 : 2 }
    		maxErrors     = ‘-1’
	}
	withLabel: retry_increasing_both {
       		errorStrategy = 'retry'
    		time   = {0,5.h + task.attempt}
		cpus   = {2 + task.attempt}
        	maxRetries = { task.exitStatus == 140 ? 10 : 2 }
    		maxErrors     = ‘-1’
	}
*/
