process {
	withName: convert_names {
		cpus = 1
		time = '5s'
	}
	withName: index_query {
		cpus = 3
		time = '20s'
	}
	withName: search_distant_homologuous {
		cpus = 1
		time = '10s'
	}
	withName: fastaExtract {
		cpus = 1
		time = '5s'
	}
	withName: homology_modelling {
		cpus = 6
		time = '5m'
		errorStrategy = 'finish'
	}
	withName: prosa_check {
		cpus = 1
		time = '5m'
		errorStrategy = 'retry'
		maxRetries = 10 
	}
        withName: extract_result {
		cpus = 1
		time = '5s'
	}
	withName: structural_alignment {
		cpus = 6
		time = '1m'
	}
	withName: build_matrix {
		cpus = 1
		time = '5s'
	}
	withName: lineartest {
		cpus = 1
		time = '30s'
	}

}
